@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.Training.Pages.Trainings.CreateModel

@{
    Layout = "_Create";
}

<body>
    @Html.EditControlsFor(model => model.Item.Id)
    @Html.EditControlsFor(model => model.Item.Name)
    @Html.EditControlsForDropDown(model => model.Item.Definition, new List<SelectListItem>
    {
        new SelectListItem() {Text = "Light", Value="Light"},
        new SelectListItem() {Text = "Moderate", Value="Moderate"},
        new SelectListItem() {Text = "Hard", Value="Hard"},
        new SelectListItem() {Text = "Extreme", Value="Extreme"},
        new SelectListItem() {Text = "Maximal Effort", Value="Maximal Effort"}
    })
    @Html.EditControlsFor(model => model.Item.Duration)
    @Html.EditControlsFor(model => model.Item.ParticipantsCount)
</body>


