@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.Training.Pages.Trainings.CreateModel

@{
    Layout = "_Create";
}

<body>
    @Html.EditControlsFor(m => m.Item.Id)
    @Html.EditControlsFor(m => m.Item.Name)
    @Html.EditControlsForDropDown(m => m.Item.Definition, Model.Types)
    @Html.EditControlsFor(m => m.Item.Duration)
    @Html.EditControlsFor(m => m.Item.ParticipantsCount)
</body>


