@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.Training.Pages.Trainings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TrainingData</h4>
    <hr />
    <dl class="row">
        @Html.DisplayControlsFor(model => model.TrainingData.Id)
        @Html.DisplayControlsFor(model => model.TrainingData.Name)
        @Html.DisplayControlsFor(model => model.TrainingData.Definition)
        @Html.DisplayControlsFor(model => model.TrainingData.Duration)
        @Html.DisplayControlsFor(model => model.TrainingData.ParticipantsCount)
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TrainingData.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
