@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.Training.Pages.Trainings.EditModel

@{
    Layout = "_Edit";
}

<body>
    <input type="hidden" asp-for="Item.Id" />
    @Html.DisabledControlsFor(m => m.Item.Id)
    @Html.EditControlsFor(m => m.Item.Name)
    @Html.EditControlsForDropDown(m => m.Item.Definition, Model.Types)
    @Html.EditControlsFor(m => m.Item.Duration)
    @Html.EditControlsFor(m => m.Item.ParticipantsCount)
</body>
