@page
@using SportClub.Pages.Extensions
@model SportClub.Soft.Areas.Quantity.Pages.Trainings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TrainingView</h4>
    <hr />
    <dl class="row">
        @Html.DisplayControlsFor(model => model.Item.Name)
        @Html.DisplayControlsFor(model => model.Item.Definition)
        @Html.DisplayControlsFor(model => model.Item.CoachName)
        @Html.DisplayControlsFor(model => model.Item.StartTime)
        @Html.DisplayControlsFor(model => model.Item.EndTime)
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Item.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
